In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import copy
%matplotlib inline
from sklearn import preprocessing

In [2]:
plt.rc('font', family='NanumGothic')
plt.rcParams['axes.unicode_minus']=False

In [3]:
ap_addfac = pd.read_csv("D:/프로그래밍/2020.9.금융빅데이터/기웅/아파트 부대시설 정보.csv", sep=",", encoding="CP949")
ap_lenresidence = pd.read_csv("D:/프로그래밍/2020.9.금융빅데이터/기웅/아파트 세대 거주기간 정보.csv", sep=",", encoding="CP949")
ap_transfer = pd.read_csv("D:/프로그래밍/2020.9.금융빅데이터/기웅/아파트 세대 전출입 정보.csv", sep=",", encoding="CP949")
ap_genralinfo = pd.read_csv("D:/프로그래밍/2020.9.금융빅데이터/기웅/아파트 일반정보 및 시세.csv", sep=",", encoding="CP949")

In [4]:
temp_a1 = copy.copy(ap_addfac)
temp_l1 = copy.copy(ap_lenresidence)
temp_t1 = copy.copy(ap_transfer)
temp_g1 = copy.copy(ap_genralinfo)

In [5]:
temp_a1

,기준년월,매매지역명,우편번호,아파트명,아파트주소,아파트준공일자,승강기수,CCTV수,주차대수,부대시설명,난방명,세대당주차대수,적재일시,센터코드
0,202004,서울특별시,3112,종로청계힐스테이트,서울특별시 종로구 숭인동길 21,20090320,10,93,342,"관리사무소, 노인정, 주민공동시설, 어린이놀이터, 휴게시설, 자전거보관소",개별난방,1.19,2.020040e+13,BBP17
1,202005,대구광역시,42281,시지3차태왕하이츠,대구광역시 수성구 욱수천로 77,20011211,7,43,242,"관리사무소, 노인정, 어린이놀이터, 자전거보관소",개별난방,1.03,2.020050e+13,BBP17
2,202005,대구광역시,41463,칠곡2차동서타운,대구광역시 북구 구암로32길 22,19961125,7,47,341,"관리사무소, 노인정, 보육시설, 어린이놀이터, 휴게시설, 자전거보관소",개별난방,1.02,2.020050e+13,BBP17
3,202005,대구광역시,41464,칠곡청구타운,대구광역시 북구 학정로 271,19951125,14,64,468,"관리사무소, 노인정, 어린이놀이터, 휴게시설",개별난방,1.00,2.020050e+13,BBP17
4,202005,대구광역시,41159,영남네오빌,대구광역시 동구 동촌로 190,20000629,0,170,1268,"관리사무소, 노인정, 보육시설, 주민공동시설, 어린이놀이터, 자전거보관소, 기타",개별난방,1.36,2.020050e+13,BBP17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5461,202005,강원도,25819,이도주공1단지,강원도 동해시 이원길 180-2,19991016,5,34,315,"관리사무소, 노인정, 보육시설, 어린이놀이터, 자전거보관소",개별난방,0.71,2.020050e+13,BBP17
5462,202005,대구광역시,42279,사월화성파크드림1단지,대구광역시 수성구 달구벌대로 3304,20060323,6,91,283,"관리사무소, 노인정, 보육시설, 주민공동시설, 어린이놀이터, 자전거보관소",개별난방,1.51,2.020050e+13,BBP17
5463,202005,대구광역시,42198,범물영남타운,대구광역시 수성구 용학로 316,19920820,15,105,508,"관리사무소, 노인정, 주민공동시설, 어린이놀이터",중앙난방,1.15,2.020050e+13,BBP17
5464,202005,대구광역시,41910,노마즈하우스,대구광역시 중구 공평로 105,20140121,0,68,218,관리사무소,개별난방,0.81,2.020050e+13,BBP17
5465,202005,대구광역시,41022,협성휴포레이시아폴리스,대구광역시 동구 팔공로 260,20180326,21,233,813,"관리사무소, 노인정, 보육시설, 문고, 주민공동시설, 어린이놀이터, 휴게시설, 커뮤...",개별난방,1.36,2.020050e+13,BBP17

In [6]:
temp_l1

,기준년월,매매지역명,우편번호,아파트명,아파트주소,아파트동명,1년미만거주기간세대수,1년거주기간세대수,2년거주기간세대수,3년거주기간세대수,4년거주기간세대수,5년이상거주기간세대수,합계세대수,적재일시,센터코드
0,201904,강원도,24222,춘천롯데캐슬더퍼스트아파트1단지,강원도 춘천시 마장길 58,101,15,6,10,8,3,23,73,2.019120e+13,BBP17
1,201904,강원도,24224,사농현대아파트,강원도 춘천시 영서로 2920,110,1,2,2,5,3,44,60,2.019120e+13,BBP17
2,201904,강원도,24224,사농현대아파트,강원도 춘천시 영서로 2920,111,2,3,5,3,2,43,60,2.019120e+13,BBP17
3,201904,강원도,24224,사농현대아파트,강원도 춘천시 영서로 2920,112,2,2,6,5,0,43,60,2.019120e+13,BBP17
4,201904,강원도,24225,롯데인벤스우두파크,강원도 춘천시 충열로 29,102,3,1,1,4,0,16,28,2.019120e+13,BBP17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27786,202005,대구광역시,41075,신서그린빌,대구광역시 동구 반야월북로 251,107,2,0,1,1,4,10,18,2.020050e+13,BBP17
27787,202005,대구광역시,41075,신서그린빌,대구광역시 동구 반야월북로 251,108,1,1,2,1,2,21,28,2.020050e+13,BBP17
27788,202005,대구광역시,41075,신서청구타운,대구광역시 동구 반야월북로55길 19,101,0,0,4,13,13,90,120,2.020050e+13,BBP17
27789,202005,대구광역시,41075,신서청구타운,대구광역시 동구 반야월북로55길 19,102,0,0,0,0,0,90,90,2.020050e+13,BBP17
27790,202005,대구광역시,41075,신서청구타운,대구광역시 동구 반야월북로55길 19,103,0,0,0,0,0,60,60,2.020050e+13,BBP17

# ======================= 한 df 안에서 같은 아파트 데이터를 아파트 이름을 다르게 처리해서 받아놧네..

In [7]:
temp_l1.loc[temp_l1['아파트주소'] == '강원도 강릉시 강변로 114']

,기준년월,매매지역명,우편번호,아파트명,아파트주소,아파트동명,1년미만거주기간세대수,1년거주기간세대수,2년거주기간세대수,3년거주기간세대수,4년거주기간세대수,5년이상거주기간세대수,합계세대수,적재일시,센터코드
750,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,101,3,1,4,1,3,41,56,2.019120e+13,BBP17
751,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,102,11,5,4,1,3,39,67,2.019120e+13,BBP17
752,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,103,6,5,4,3,1,48,68,2.019120e+13,BBP17
753,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,104,2,0,1,1,0,18,22,2.019120e+13,BBP17
754,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,105,9,6,6,2,6,64,102,2.019120e+13,BBP17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21908,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,107,8,6,4,5,2,46,71,2.020050e+13,BBP17
21909,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,108,5,2,4,2,7,52,72,2.020050e+13,BBP17
21910,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,109,9,6,4,7,4,38,68,2.020050e+13,BBP17
21911,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,110,2,6,6,7,3,48,72,2.020050e+13,BBP17
21912,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,111,3,3,0,4,0,43,54,2.020050e+13,BBP17

In [8]:
temp_l1.loc[temp_l1['아파트명'] == '한라']

,기준년월,매매지역명,우편번호,아파트명,아파트주소,아파트동명,1년미만거주기간세대수,1년거주기간세대수,2년거주기간세대수,3년거주기간세대수,4년거주기간세대수,5년이상거주기간세대수,합계세대수,적재일시,센터코드
766,201904,강원도,25603,한라,강원도 강릉시 강변로 114,101,3,1,4,1,3,41,56,2.019120e+13,BBP17
767,201904,강원도,25603,한라,강원도 강릉시 강변로 114,102,11,5,4,1,3,39,67,2.019120e+13,BBP17
768,201904,강원도,25603,한라,강원도 강릉시 강변로 114,103,6,5,4,3,1,48,68,2.019120e+13,BBP17
769,201904,강원도,25603,한라,강원도 강릉시 강변로 114,104,2,0,1,1,0,18,22,2.019120e+13,BBP17
770,201904,강원도,25603,한라,강원도 강릉시 강변로 114,105,9,6,6,2,6,64,102,2.019120e+13,BBP17
771,201904,강원도,25603,한라,강원도 강릉시 강변로 114,106,4,3,8,2,4,47,72,2.019120e+13,BBP17
772,201904,강원도,25603,한라,강원도 강릉시 강변로 114,107,6,4,5,4,5,42,71,2.019120e+13,BBP17
773,201904,강원도,25603,한라,강원도 강릉시 강변로 114,108,2,4,2,10,1,49,72,2.019120e+13,BBP17
774,201904,강원도,25603,한라,강원도 강릉시 강변로 114,109,6,5,8,3,8,33,68,2.019120e+13,BBP17
775,201904,강원도,25603,한라,강원도 강릉시 강변로 114,110,4,7,6,3,4,45,72,2.019120e+13,BBP17
776,201904,강원도,25603,한라,강원도 강릉시 강변로 114,111,3,2,2,0,2,43,54,2.019120e+13,BBP17
8095,201905,강원도,25603,한라,강원도 강릉시 강변로 114,101,3,0,3,3,3,41,56,2.019120e+13,BBP17
8096,201905,강원도,25603,한라,강원도 강릉시 강변로 114,102,12,5,4,2,3,39,67,2.019120e+13,BBP17
8097,201905,강원도,25603,한라,강원도 강릉시 강변로 114,103,5,4,5,3,2,48,68,2.019120e+13,BBP17
8098,201905,강원도,25603,한라,강원도 강릉시 강변로 114,104,2,0,1,1,0,18,22,2.019120e+13,BBP17
8099,201905,강원도,25603,한라,강원도 강릉시 강변로 114,105,10,5,7,1,7,64,102,2.019120e+13,BBP17
8100,201905,강원도,25603,한라,강원도 강릉시 강변로 114,106,4,3,7,3,3,48,72,2.019120e+13,BBP17
8101,201905,강원도,25603,한라,강원도 강릉시 강변로 114,107,6,4,5,4,5,42,71,2.019120e+13,BBP17
8102,201905,강원도,25603,한라,강원도 강릉시 강변로 114,108,2,4,2,9,2,49,72,2.019120e+13,BBP17
8103,201905,강원도,25603,한라,강원도 강릉시 강변로 114,109,6,4,8,4,8,33,68,2.019120e+13,BBP17
8104,201905,강원도,25603,한라,강원도 강릉시 강변로 114,110,6,6,7,3,4,45,72,2.019120e+13,BBP17
8105,201905,강원도,25603,한라,강원도 강릉시 강변로 114,111,3,0,4,0,2,43,54,2.019120e+13,BBP17

In [9]:
temp_l1.loc[temp_l1['아파트명'] == '내곡한라']

,기준년월,매매지역명,우편번호,아파트명,아파트주소,아파트동명,1년미만거주기간세대수,1년거주기간세대수,2년거주기간세대수,3년거주기간세대수,4년거주기간세대수,5년이상거주기간세대수,합계세대수,적재일시,센터코드
750,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,101,3,1,4,1,3,41,56,2.019120e+13,BBP17
751,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,102,11,5,4,1,3,39,67,2.019120e+13,BBP17
752,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,103,6,5,4,3,1,48,68,2.019120e+13,BBP17
753,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,104,2,0,1,1,0,18,22,2.019120e+13,BBP17
754,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,105,9,6,6,2,6,64,102,2.019120e+13,BBP17
755,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,106,4,3,8,2,4,47,72,2.019120e+13,BBP17
756,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,107,6,4,5,4,5,42,71,2.019120e+13,BBP17
757,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,108,2,4,2,10,1,49,72,2.019120e+13,BBP17
758,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,109,6,5,8,3,8,33,68,2.019120e+13,BBP17
759,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,110,4,7,6,3,4,45,72,2.019120e+13,BBP17
760,201904,강원도,25603,내곡한라,강원도 강릉시 강변로 114,111,3,2,2,0,2,43,54,2.019120e+13,BBP17
8079,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,101,3,0,3,3,3,41,56,2.019120e+13,BBP17
8080,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,102,12,5,4,2,3,39,67,2.019120e+13,BBP17
8081,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,103,5,4,5,3,2,48,68,2.019120e+13,BBP17
8082,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,104,2,0,1,1,0,18,22,2.019120e+13,BBP17
8083,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,105,10,5,7,1,7,64,102,2.019120e+13,BBP17
8084,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,106,4,3,7,3,3,48,72,2.019120e+13,BBP17
8085,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,107,6,4,5,4,5,42,71,2.019120e+13,BBP17
8086,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,108,2,4,2,9,2,49,72,2.019120e+13,BBP17
8087,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,109,6,4,9,4,8,33,69,2.019120e+13,BBP17
8088,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,110,6,6,7,3,4,45,72,2.019120e+13,BBP17
8089,201905,강원도,25603,내곡한라,강원도 강릉시 강변로 114,111,3,0,4,0,2,43,54,2.019120e+13,BBP17
15303,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,101,4,3,1,3,1,43,56,2.020040e+13,BBP17
15304,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,102,6,10,5,4,1,41,67,2.020040e+13,BBP17
15305,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,103,3,5,5,4,2,46,68,2.020040e+13,BBP17
15306,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,104,0,2,0,1,1,18,22,2.020040e+13,BBP17
15307,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,105,10,9,5,6,2,69,102,2.020040e+13,BBP17
15308,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,106,8,4,2,8,2,48,72,2.020040e+13,BBP17
15309,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,107,8,6,4,5,2,46,71,2.020040e+13,BBP17
15310,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,108,5,2,4,2,8,51,72,2.020040e+13,BBP17
15311,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,109,7,6,5,7,3,38,68,2.020040e+13,BBP17
15312,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,110,4,4,7,6,3,48,72,2.020040e+13,BBP17
15313,202004,강원도,25603,내곡한라,강원도 강릉시 강변로 114,111,3,3,2,2,0,44,54,2.020040e+13,BBP17
21902,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,101,4,3,0,3,2,43,56,2.020050e+13,BBP17
21903,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,102,4,12,4,4,2,41,67,2.020050e+13,BBP17
21904,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,103,6,5,3,5,2,46,68,2.020050e+13,BBP17
21905,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,104,0,2,0,1,1,18,22,2.020050e+13,BBP17
21906,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,105,10,9,4,6,2,69,102,2.020050e+13,BBP17
21907,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,106,8,4,2,6,3,49,72,2.020050e+13,BBP17
21908,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,107,8,6,4,5,2,46,71,2.020050e+13,BBP17
21909,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,108,5,2,4,2,7,52,72,2.020050e+13,BBP17
21910,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,109,9,6,4,7,4,38,68,2.020050e+13,BBP17
21911,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,110,2,6,6,7,3,48,72,2.020050e+13,BBP17
21912,202005,강원도,25603,내곡한라,강원도 강릉시 강변로 114,111,3,3,0,4,0,43,54,2.020050e+13,BBP17

In [10]:
temp_t1

,기준년월,매매지역명,우편번호,아파트명,아파트주소,아파트동명,전출세대수,전입세대수,적재일시,센터코드
0,201904,강원도,24230,삼성아파트,강원도 춘천시 충열로 30,103,0,1,2.019120e+13,BBP17
1,201904,강원도,24230,삼성아파트,강원도 춘천시 충열로 30,101,1,0,2.019120e+13,BBP17
2,201904,강원도,24230,삼성아파트,강원도 춘천시 충열로 30,101,0,0,2.019120e+13,BBP17
3,201904,강원도,24230,삼성아파트,강원도 춘천시 충열로 30,102,0,0,2.019120e+13,BBP17
4,201904,강원도,24447,퇴계이안,강원도 춘천시 영서로 2169,106,0,0,2.019120e+13,BBP17
...,...,...,...,...,...,...,...,...,...,...
22798,202005,대구광역시,42511,앞산힐스테이트,대구광역시 남구 대덕로 166,105,1,1,2.020050e+13,BBP17
22799,202005,대구광역시,42514,효성타운,대구광역시 남구 효성중앙길 37,101,0,3,2.020050e+13,BBP17
22800,202005,대구광역시,42514,효성타운,대구광역시 남구 효성중앙길 37,103,0,1,2.020050e+13,BBP17
22801,202005,대구광역시,42514,효성타운,대구광역시 남구 효성중앙길 37,106,1,1,2.020050e+13,BBP17
22802,202005,대구광역시,42514,효성타운,대구광역시 남구 효성중앙길 37,107,0,1,2.020050e+13,BBP17

In [11]:
temp_t1.duplicated().sum()

0

In [12]:
temp_g1.duplicated().sum()

0

In [13]:
temp_t1.duplicated().sum()

0

In [14]:
temp_l1.duplicated().sum()

0

# ====================================================

In [15]:
temp_g1

,기준년월,매매지역명,우편번호,아파트명,아파트주소,아파트세대수,아파트동수,아파트면적값,최근매매실거래가격,최근매매실거래일자,...,최근전세실거래일자,매매하위평균가격,매매일반평균가격,매매상위평균가격,전세하위평균가격,전세일반평균가격,전세상위평균가격,시세기준일자,적재일시,센터코드
0,201905,강원도,25912,동부,강원도 삼척시 동해대로 4273,360,3,59.83,80500000,20190414,...,20190304,70000000,77500000,85000000,50000000,57500000,65000000,20190520,2.020070e+13,BBP17
1,201905,강원도,25723,삼성,강원도 동해시 해안로 605,114,3,84.99,108000000,20190402,...,20190305,112000000,118500000,125000000,75000000,77500000,80000000,20190520,2.020070e+13,BBP17
2,201905,강원도,25723,삼성,강원도 동해시 해안로 605,76,3,60.00,80000000,20190319,...,20190322,74000000,79500000,85000000,50000000,52500000,55000000,20190520,2.020070e+13,BBP17
3,201904,서울특별시,3075,아남3,서울특별시 종로구 혜화로3길 5,28,1,50.49,540000000,20181029,...,20181030,470000000,480000000,490000000,350000000,365000000,380000000,20190408,2.020070e+13,BBP17
4,201904,서울특별시,3107,종로센트레빌,서울특별시 종로구 동망산길 47,180,6,59.92,700000000,20180825,...,20190330,620000000,640000000,660000000,380000000,395000000,410000000,20190408,2.020070e+13,BBP17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56244,202005,대구광역시,42509,대덕2차,대구광역시 남구 앞산순환로 655,86,6,84.99,245000000,20191119,...,20180913,223000000,240500000,258000000,190000000,200000000,210000000,20200518,2.020070e+13,BBP17
56245,202005,대구광역시,42509,대덕2차,대구광역시 남구 앞산순환로 655,300,6,134.70,384000000,20200421,...,20191203,320000000,340000000,360000000,270000000,285000000,300000000,20200518,2.020070e+13,BBP17
56246,202005,대구광역시,42509,대덕2차,대구광역시 남구 앞산순환로 655,104,6,113.09,295000000,20191207,...,20191016,270000000,290000000,310000000,230000000,240000000,250000000,20200518,2.020070e+13,BBP17
56247,202005,대구광역시,42513,래미안웰리스트,대구광역시 남구 효성중앙길 82,56,7,165.83,875000000,20200220,...,20190701,800000000,845000000,890000000,550000000,575000000,600000000,20200518,2.020070e+13,BBP17
56248,202005,대구광역시,42513,래미안웰리스트,대구광역시 남구 효성중앙길 82,77,7,84.93,515000000,20200414,...,20190725,490000000,510000000,530000000,350000000,360000000,370000000,20200518,2.020070e+13,BBP17

# 기준년월/매매지역명/우편번호/아파트명/아파트주소 까지의 컬럼은 다 같다.
# 저 컬럼들 중에서 키를 정해서 사용하자.
# but. 아파트명은 df마다 다르게 적혀있다. ex.) 한라/내곡한라

# 거주기간과 전출입은 아파트동명까지 나눠져있다. 다른 df들의 형식에 맞게 groupby sum 해주자.

In [16]:
temp_l2 = temp_l1.groupby(['기준년월','아파트주소','아파트명'])[temp_l1.columns[6:13]].sum()
temp_l2

                                          1년미만거주기간세대수  1년거주기간세대수  2년거주기간세대수  \
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트              105         45         69
       강원도 강릉시 강변로 114      내곡한라                   56         42         50
                            한라                     56         42         50
       강원도 강릉시 강변로 270      신화아파트                  24         19         19
       강원도 강릉시 강변로 328-8    양우내안애아파트               61         57         41
...                                               ...        ...        ...
202005 서울특별시 종로구 통일로 246-20 무악현대                  116         79         77
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트           25         13         31
       서울특별시 종로구 통일로18길 9   인왕산아이파크                95         93         90
       서울특별시 종로구 평창문화로 140  평창롯데                   10         10         17
       서울특별시 종로구 평창문화로 172  평창삼성                   13         24         15

                                          3년거주기간세대수  4년거주기간세대수  5년이상거주기간세대수  \
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트             39         48          644
       강원도 강릉시 강변로 114      내곡한라                 30         37          469
                            한라                   30         37          469
       강원도 강릉시 강변로 270      신화아파트                10         14          380
       강원도 강릉시 강변로 328-8    양우내안애아파트             43         24          202
...                                             ...        ...          ...
202005 서울특별시 종로구 통일로 246-20 무악현대                 80         86          519
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트         12         86            0
       서울특별시 종로구 통일로18길 9   인왕산아이파크              64         58          405
       서울특별시 종로구 평창문화로 140  평창롯데                  1          3           99
       서울특별시 종로구 평창문화로 172  평창삼성                 12          9           97

                                          합계세대수
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트       1019
       강원도 강릉시 강변로 114      내곡한라            724
                            한라              724
       강원도 강릉시 강변로 270      신화아파트           494
       강원도 강릉시 강변로 328-8    양우내안애아파트        456
...                                         ...
202005 서울특별시 종로구 통일로 246-20 무악현대            966
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트    167
       서울특별시 종로구 통일로18길 9   인왕산아이파크         810
       서울특별시 종로구 평창문화로 140  평창롯데            156
       서울특별시 종로구 평창문화로 172  평창삼성            176

[4344 rows x 7 columns]

In [17]:
temp_l3 = temp_l1.groupby(['기준년월','아파트주소'])[temp_l1.columns[6:13]].sum()
temp_l3

                             1년미만거주기간세대수  1년거주기간세대수  2년거주기간세대수  3년거주기간세대수  \
기준년월   아파트주소
201904 강원도 강릉시 가작로 78                105         45         69         39
       강원도 강릉시 강변로 114               112         84        100         60
       강원도 강릉시 강변로 270                24         19         19         10
       강원도 강릉시 강변로 328-8              61         57         41         43
       강원도 강릉시 강변로 364               120         58         66         52
...                                  ...        ...        ...        ...
202005 서울특별시 종로구 통일로 246-20          116         79         77         80
       서울특별시 종로구 통일로18길 34            25         13         31         12
       서울특별시 종로구 통일로18길 9             95         93         90         64
       서울특별시 종로구 평창문화로 140            10         10         17          1
       서울특별시 종로구 평창문화로 172            13         24         15         12

                             4년거주기간세대수  5년이상거주기간세대수  합계세대수
기준년월   아파트주소
201904 강원도 강릉시 가작로 78               48          644   1019
       강원도 강릉시 강변로 114              74          938   1448
       강원도 강릉시 강변로 270              14          380    494
       강원도 강릉시 강변로 328-8            24          202    456
       강원도 강릉시 강변로 364              34          484    980
...                                ...          ...    ...
202005 서울특별시 종로구 통일로 246-20         86          519    966
       서울특별시 종로구 통일로18길 34          86            0    167
       서울특별시 종로구 통일로18길 9           58          405    810
       서울특별시 종로구 평창문화로 140           3           99    156
       서울특별시 종로구 평창문화로 172           9           97    176

[4188 rows x 7 columns]

# 강원도 내곡한라/한라 똑같다.. 이런거 없애줘야함

In [18]:
temp_l2.duplicated()

기준년월    아파트주소                 아파트명
201904  강원도 강릉시 가작로 78        교동1주공아파트        False
        강원도 강릉시 강변로 114       내곡한라            False
                              한라               True
        강원도 강릉시 강변로 270       신화아파트           False
        강원도 강릉시 강변로 328-8     양우내안애아파트        False
                                              ...
202005  서울특별시 종로구 통일로 246-20  무악현대            False
        서울특별시 종로구 통일로18길 34   인왕산2차아이파크아파트    False
        서울특별시 종로구 통일로18길 9    인왕산아이파크         False
        서울특별시 종로구 평창문화로 140   평창롯데            False
        서울특별시 종로구 평창문화로 172   평창삼성            False
Length: 4344, dtype: bool

In [19]:
for i in range(len(temp_l2)):
    if temp_l2.duplicated()[i] == True:
        print(temp_l2.index[i])
print(temp_l2.duplicated().sum())

(201904, '강원도 강릉시 강변로 114', '한라')
(201904, '강원도 강릉시 강변로 364', '입암주공(1단지)')
(201904, '강원도 강릉시 강변로410번길 27', '대인3차아파트')
(201904, '강원도 삼척시 오십천로 295-7', '한양')
(201904, '강원도 삼척시 청석로 64', '청솔1차아파트')
(201904, '강원도 원주시 남산로48번길 26', '원동진로아파트')
(201904, '강원도 원주시 남원로 496', '두산')
(201904, '강원도 원주시 남원로 661', '세경1차아파트')
(201904, '강원도 원주시 단구로 418', '성일')
(201904, '강원도 원주시 무실로 91', '한주아파트')
(201904, '강원도 원주시 무실로55번길 65', '동성아파트')
(201904, '강원도 원주시 봉화로 74', '삼익')
(201904, '강원도 원주시 원문로 176', '단계현대아파트')
(201904, '강원도 원주시 원문로100번길 90', '우산덕원아파트')
(201904, '강원도 원주시 천사로 130', '신진빌리지')
(201904, '강원도 원주시 현충로 234', '상록프라자아파트')
(201904, '대구광역시 남구 명덕로 236', '보성상아맨션')
(201904, '대구광역시 남구 현충서길 29', '동아대덕아파트')
(201904, '대구광역시 남구 효서2길 7', '태성맨션')
(201904, '대구광역시 달서구 상인로 105', '상인청구타운')
(201904, '대구광역시 달서구 상화북로 196', '상인제림타운')
(201904, '대구광역시 달서구 용산서로 22', '용산청구타운')
(201904, '대구광역시 달서구 용산큰못길 30', '용산2차서한화성타운')
(201904, '대구광역시 달서구 월곡로 291', '상인중석타운')
(201904, '대구광역시 달서구 진천로18길 10', '진천역대우이안아파트')
(201904, '대구광역시 달서구 학산로7길 5', '월성동서타운')
(201904, '대구광역시 동구 율하동로20길 20', '화성')
(201904, '대구광역시 북구 구리로 254', '칠곡현대아파트')
(201904, '대구광역시 북구 구암서로 22', '칠곡그린빌4단지')
(201904, '대구광역시 북구 동북로 163', '산격대우아파트')
(201904, '대구광역시 북구 칠곡중앙대로53길 32', '한일')
(201904, '대구광역시 서구 평리로 221', '꽃동네아파트')
(201904, '대구광역시 수성구 고산로 162', '한일유앤아이')
(201904, '대구광역시 수성구 동대구로50길 37', '유림노르웨이숲')
(201904, '대구광역시 수성구 명덕로73길 40', '수성동양엘레브')
(201904, '대구광역시 수성구 지범로40길 11', '범물서한화성타운')
(201904, '대구광역시 수성구 지산로 5', '지산리더스')
(201905, '강원도 강릉시 강변로 364', '입암주공(1단지)')
(201905, '강원도 강릉시 강변로410번길 27', '대인3차아파트')
(201905, '강원도 강릉시 강변로440번길 30', '에버그린')
(201905, '강원도 강릉시 월대산로 23', '강릉 입암코아루오투리움 아파트')
(201905, '강원도 강릉시 토성로 51', '우산')
(201905, '강원도 강릉시 토성로 51', '우산아파트')
(201905, '강원도 동해시 이원길 180', '이도현대')
(201905, '강원도 삼척시 오십천로 295-7', '한양')
(201905, '강원도 삼척시 청석로 64', '청솔1차아파트')
(201905, '강원도 원주시 나비허리길 188', '원주단관8차청솔')
(201905, '강원도 원주시 남산로218번길 34', '영진로얄타운')
(201905, '강원도 원주시 남산로48번길 26', '원동진로아파트')
(201905, '강원도 원주시 남원로 496', '두산')
(201905, '강원도 원주시 남원로 526', '한일')
(201905, '강원도 원주시 남원로 526', '한일아파트')
(201905, '강원도 원주시 남원로 661', '세경1차아파트')
(201905, '강원도 원주시 무실로 91', '한주아파트')
(201905, '강원도 원주시 무실로55번길 65', '동성아파트')
(201905, '강원도 원주시 봉화로 74', '삼익')
(201905, '강원도 원주시 원문로 176', '단계현대아파트')
(201905, '강원도 원주시 천사로 130', '신진빌리지')
(201905, '강원도 원주시 현충로 155', '영진2차아파트')
(201905, '강원도 원주시 흥양로51번길 40', '이안원주어반파크')
(201905, '강원도 춘천시 공지로218번길 26', '코아루웰라움아파트')
(201905, '강원도 춘천시 보안길 36', '춘천후평우미린뉴시티')
(201905, '강원도 태백시 수아밭길 182', '팔마')
(201905, '강원도 태백시 장성1길 117', '태백장성동아라이크텐')
(201905, '대구광역시 남구 명덕로 236', '보성상아맨션')
(201905, '대구광역시 남구 현충서길 29', '동아대덕')
(201905, '대구광역시 남구 현충서길 29', '동아대덕아파트')
(201905, '대구광역시 달서구 달서대로 41', '대곡역화성파크드림')
(201905, '대구광역시 달서구 상인로 105', '상인청구타운')
(201905, '대구광역시 달서구 상화북로 196', '상인제림타운')
(201905, '대구광역시 달서구 성서동로 350', '평화타운')
(201905, '대구광역시 달서구 용산큰못길 30', '용산2차서한화성타운')
(201905, '대구광역시 달서구 조암남로10길 21', '월성자이아파트')
(201905, '대구광역시 달서구 진천로18길 10', '진천역대우이안아파트')
(201905, '대구광역시 달서구 학산로7길 5', '월성동서타운')
(201905, '대구광역시 달서구 한실로 134', '대곡2단지미리샘마을')
(201905, '대구광역시 동구 동부로 20', '신천주공그린빌3단지')
(201905, '대구광역시 동구 율하동로20길 30', '신기모란(2차)')
(201905, '대구광역시 북구 공항로 84', '복현우방타운')
(201905, '대구광역시 북구 관음동로 128', '청암연립아파트')
(201905, '대구광역시 북구 구암로21길 38', '공작한양아파트')
(201905, '대구광역시 북구 내곡로 90', '서희스타힐스테이')
(201905, '대구광역시 북구 동화천로 280', '대구연경천년나무1단지')
(201905, '대구광역시 북구 매전로4길 31', '한신더휴이스턴팰리스')
(201905, '대구광역시 북구 매전로4길 32', '한신더휴 웨스턴팰리스')
(201905, '대구광역시 북구 유통단지로3길 7', '산격거평아파트')
(201905, '대구광역시 북구 중앙대로118길 46', '삼주')
(201905, '대구광역시 북구 칠곡중앙대로53길 32', '한일')
(201905, '대구광역시 북구 침산남로 130', '침산3차푸르지오아파트')
(201905, '대구광역시 북구 태전로7길 13', '태전한라아파트')
(201905, '대구광역시 북구 팔거천동로24길 40', '칠곡2차영남타운')
(201905, '대구광역시 서구 서대구로8길 15', '시영내당아파트자치관리회')
(201905, '대구광역시 수성구 고산로 162', '한일유앤아이')
(201905, '대구광역시 수성구 고산로12길 34', '시지에덴타운')
(201905, '대구광역시 수성구 교학로 3', '우방금탑')
(201905, '대구광역시 수성구 달구벌대로625길 21', '시지대백맨션')
(201905, '대구광역시 수성구 달구벌대로650길 29', '신화빌라트')
(201905, '대구광역시 수성구 동대구로50길 37', '유림노르웨이숲')
(201905, '대구광역시 수성구 명덕로73길 40', '수성동양엘레브')
(201905, '대구광역시 수성구 범어로 45', '가든하이츠1단지')
(201905, '대구광역시 수성구 범어천로 126', '코오롱하늘채수')
(201905, '대구광역시 수성구 신매로 41', '시지동서')
(201905, '대구광역시 수성구 신매로 41', '시지동서타운')
(201905, '대구광역시 수성구 지산로 5', '지산리더스')
(201905, '대구광역시 수성구 청호로 229', '신천지하이츠')
(201905, '대구광역시 수성구 청호로 330', '수성2차우방타운')
(201905, '대구광역시 수성구 파동로 223', '송원맨션')
(201905, '대구광역시 중구 달구벌대로 2035', '동산맨션')
(202004, '강원도 강릉시 토성로 51', '우산아파트')
(202004, '강원도 동해시 대학로 31', '천곡삼성아파트')
(202004, '강원도 동해시 이원길 180', '이도현대')
(202004, '강원도 속초시 동해대로 4271', '청초대우')
(202004, '강원도 원주시 남원로 526', '한일아파트')
(202004, '강원도 원주시 학성길 38', '삼천리3차아파트')
(202004, '강원도 태백시 수아밭길 182', '팔마')
(202004, '대구광역시 남구 현충서길 29', '동아대덕아파트')
(202004, '대구광역시 달서구 상화북로 159', '보성산호타운')
(202004, '대구광역시 달서구 성서동로 350', '평화타운')
(202004, '대구광역시 달서구 용산서로 22', '용산청구타운')
(202004, '대구광역시 달서구 월곡로45길 49', '상인낙원아파트')
(202004, '대구광역시 동구 동부로 20', '신천주공그린빌3단지')
(202004, '대구광역시 북구 관음동로 128', '청암연립아파트')
(202004, '대구광역시 북구 대현로10길 82', '대현e편한세상')
(202004, '대구광역시 북구 동천로 6', '칠곡화성타운')
(202004, '대구광역시 북구 침산남로 130', '침산3차푸르지오아파트')
(202004, '대구광역시 북구 팔거천동로24길 40', '칠곡2차영남타운')
(202004, '대구광역시 서구 서대구로8길 15', '시영내당아파트자치관리회')
(202004, '대구광역시 수성구 고산로12길 34', '시지에덴타운')
(202004, '대구광역시 수성구 동대구로 337', '범어화성파크리젠시')
(202004, '대구광역시 수성구 신매로 41', '시지동서타운')
(202004, '대구광역시 수성구 청호로 229', '신천지하이츠')
(202005, '강원도 강릉시 강변로440번길 30', '에버그린아파트')
(202005, '강원도 강릉시 토성로 51', '우산아파트')
(202005, '강원도 동해시 대학로 31', '천곡삼성아파트')
(202005, '강원도 동해시 이원길 180', '이도현대')
(202005, '강원도 속초시 동해대로 4271', '청초대우')
(202005, '강원도 원주시 남산로218번길 34', '영진로얄타운')
(202005, '강원도 원주시 남원로 526', '한일아파트')
(202005, '강원도 원주시 천사로 130', '신진빌리지')
(202005, '강원도 원주시 학성길 38', '삼천리3차아파트')
(202005, '강원도 춘천시 춘주로 162', '퇴계현대1차')
(202005, '강원도 태백시 수아밭길 182', '팔마')
(202005, '대구광역시 남구 현충서길 29', '동아대덕아파트')
(202005, '대구광역시 달서구 달서대로 41', '대곡역화성파크드림')
(202005, '대구광역시 달서구 상화북로 159', '보성산호타운')
(202005, '대구광역시 달서구 성서동로 350', '평화타운')
(202005, '대구광역시 달서구 월곡로45길 49', '상인낙원아파트')
(202005, '대구광역시 동구 동부로 20', '신천주공그린빌3단지')
(202005, '대구광역시 동구 화랑로100길 17', '강변동서마을')
(202005, '대구광역시 북구 공항로 84', '복현우방타운')
(202005, '대구광역시 북구 관음동로 128', '청암연립아파트')
(202005, '대구광역시 북구 구암로21길 38', '공작한양아파트')
(202005, '대구광역시 북구 대현로10길 82', '대현e편한세상')
(202005, '대구광역시 북구 동천로 6', '칠곡화성타운')
(202005, '대구광역시 북구 중앙대로118길 46', '삼주')
(202005, '대구광역시 북구 침산남로 130', '침산3차푸르지오아파트')
(202005, '대구광역시 북구 태전로7길 13', '태전한라아파트')
(202005, '대구광역시 서구 서대구로8길 15', '시영내당아파트자치관리회')
(202005, '대구광역시 서구 통학로24길 60', '비산우방맨션')
(202005, '대구광역시 수성구 고산로12길 34', '시지에덴타운')
(202005, '대구광역시 수성구 달구벌대로625길 21', '시지대백맨션')
(202005, '대구광역시 수성구 달구벌대로650길 29', '신화빌라트')
(202005, '대구광역시 수성구 달구벌대로651길 33', '신매우방타운')
(202005, '대구광역시 수성구 동대구로 337', '범어화성파크리젠시')
(202005, '대구광역시 수성구 범어로 45', '가든하이츠1단지')
(202005, '대구광역시 수성구 신매로 41', '시지동서타운')
(202005, '대구광역시 수성구 용학로 189', '지산1단지')
(202005, '대구광역시 수성구 청수로 551', '만촌우방팔레스')
(202005, '대구광역시 수성구 청호로 229', '신천지하이츠')
(202005, '대구광역시 수성구 청호로 330', '수성2차우방타운')
(202005, '대구광역시 수성구 청호로 345', '황금동태왕아너스')
(202005, '대구광역시 중구 달구벌대로 2035', '동산맨션')
172

In [20]:
temp_l2

                                          1년미만거주기간세대수  1년거주기간세대수  2년거주기간세대수  \
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트              105         45         69
       강원도 강릉시 강변로 114      내곡한라                   56         42         50
                            한라                     56         42         50
       강원도 강릉시 강변로 270      신화아파트                  24         19         19
       강원도 강릉시 강변로 328-8    양우내안애아파트               61         57         41
...                                               ...        ...        ...
202005 서울특별시 종로구 통일로 246-20 무악현대                  116         79         77
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트           25         13         31
       서울특별시 종로구 통일로18길 9   인왕산아이파크                95         93         90
       서울특별시 종로구 평창문화로 140  평창롯데                   10         10         17
       서울특별시 종로구 평창문화로 172  평창삼성                   13         24         15

                                          3년거주기간세대수  4년거주기간세대수  5년이상거주기간세대수  \
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트             39         48          644
       강원도 강릉시 강변로 114      내곡한라                 30         37          469
                            한라                   30         37          469
       강원도 강릉시 강변로 270      신화아파트                10         14          380
       강원도 강릉시 강변로 328-8    양우내안애아파트             43         24          202
...                                             ...        ...          ...
202005 서울특별시 종로구 통일로 246-20 무악현대                 80         86          519
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트         12         86            0
       서울특별시 종로구 통일로18길 9   인왕산아이파크              64         58          405
       서울특별시 종로구 평창문화로 140  평창롯데                  1          3           99
       서울특별시 종로구 평창문화로 172  평창삼성                 12          9           97

                                          합계세대수
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트       1019
       강원도 강릉시 강변로 114      내곡한라            724
                            한라              724
       강원도 강릉시 강변로 270      신화아파트           494
       강원도 강릉시 강변로 328-8    양우내안애아파트        456
...                                         ...
202005 서울특별시 종로구 통일로 246-20 무악현대            966
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트    167
       서울특별시 종로구 통일로18길 9   인왕산아이파크         810
       서울특별시 종로구 평창문화로 140  평창롯데            156
       서울특별시 종로구 평창문화로 172  평창삼성            176

[4344 rows x 7 columns]

In [21]:
temp_l2.loc[201904]

                                  1년미만거주기간세대수  1년거주기간세대수  2년거주기간세대수  \
아파트주소               아파트명
강원도 강릉시 가작로 78      교동1주공아파트              105         45         69
강원도 강릉시 강변로 114     내곡한라                   56         42         50
                    한라                     56         42         50
강원도 강릉시 강변로 270     신화아파트                  24         19         19
강원도 강릉시 강변로 328-8   양우내안애아파트               61         57         41
...                                       ...        ...        ...
서울특별시 종로구 통일로18길 34 인왕산2차아이파크아파트           17         35         13
서울특별시 종로구 통일로18길 9  인왕산아이파크               113        107         57
서울특별시 종로구 평창문화로 140 평창롯데                   10         17          1
서울특별시 종로구 평창문화로 172 삼성                     22         20         12
                    평창삼성                   23         20         12

                                  3년거주기간세대수  4년거주기간세대수  5년이상거주기간세대수  합계세대수
아파트주소               아파트명
강원도 강릉시 가작로 78      교동1주공아파트             39         48          644   1019
강원도 강릉시 강변로 114     내곡한라                 30         37          469    724
                    한라                   30         37          469    724
강원도 강릉시 강변로 270     신화아파트                10         14          380    494
강원도 강릉시 강변로 328-8   양우내안애아파트             43         24          202    456
...                                     ...        ...          ...    ...
서울특별시 종로구 통일로18길 34 인왕산2차아이파크아파트         93          0            0    169
서울특별시 종로구 통일로18길 9  인왕산아이파크              85         42          432    879
서울특별시 종로구 평창문화로 140 평창롯데                  4          3          102    157
서울특별시 종로구 평창문화로 172 삼성                   10          8           94    176
                    평창삼성                 10          8           94    177

[1122 rows x 7 columns]

In [22]:
temp_l4 = temp_l2.drop_duplicates()
temp_l4

                                          1년미만거주기간세대수  1년거주기간세대수  2년거주기간세대수  \
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트              105         45         69
       강원도 강릉시 강변로 114      내곡한라                   56         42         50
       강원도 강릉시 강변로 270      신화아파트                  24         19         19
       강원도 강릉시 강변로 328-8    양우내안애아파트               61         57         41
       강원도 강릉시 강변로 364      입암1주공아파트               60         29         33
...                                               ...        ...        ...
202005 서울특별시 종로구 통일로 246-20 무악현대                  116         79         77
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트           25         13         31
       서울특별시 종로구 통일로18길 9   인왕산아이파크                95         93         90
       서울특별시 종로구 평창문화로 140  평창롯데                   10         10         17
       서울특별시 종로구 평창문화로 172  평창삼성                   13         24         15

                                          3년거주기간세대수  4년거주기간세대수  5년이상거주기간세대수  \
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트             39         48          644
       강원도 강릉시 강변로 114      내곡한라                 30         37          469
       강원도 강릉시 강변로 270      신화아파트                10         14          380
       강원도 강릉시 강변로 328-8    양우내안애아파트             43         24          202
       강원도 강릉시 강변로 364      입암1주공아파트             26         17          242
...                                             ...        ...          ...
202005 서울특별시 종로구 통일로 246-20 무악현대                 80         86          519
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트         12         86            0
       서울특별시 종로구 통일로18길 9   인왕산아이파크              64         58          405
       서울특별시 종로구 평창문화로 140  평창롯데                  1          3           99
       서울특별시 종로구 평창문화로 172  평창삼성                 12          9           97

                                          합계세대수
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트       1019
       강원도 강릉시 강변로 114      내곡한라            724
       강원도 강릉시 강변로 270      신화아파트           494
       강원도 강릉시 강변로 328-8    양우내안애아파트        456
       강원도 강릉시 강변로 364      입암1주공아파트        490
...                                         ...
202005 서울특별시 종로구 통일로 246-20 무악현대            966
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트    167
       서울특별시 종로구 통일로18길 9   인왕산아이파크         810
       서울특별시 종로구 평창문화로 140  평창롯데            156
       서울특별시 종로구 평창문화로 172  평창삼성            176

[4172 rows x 7 columns]

In [23]:
temp_l5 = temp_l4.reset_index()
temp_l5

,기준년월,아파트주소,아파트명,1년미만거주기간세대수,1년거주기간세대수,2년거주기간세대수,3년거주기간세대수,4년거주기간세대수,5년이상거주기간세대수,합계세대수
0,201904,강원도 강릉시 가작로 78,교동1주공아파트,105,45,69,39,48,644,1019
1,201904,강원도 강릉시 강변로 114,내곡한라,56,42,50,30,37,469,724
2,201904,강원도 강릉시 강변로 270,신화아파트,24,19,19,10,14,380,494
3,201904,강원도 강릉시 강변로 328-8,양우내안애아파트,61,57,41,43,24,202,456
4,201904,강원도 강릉시 강변로 364,입암1주공아파트,60,29,33,26,17,242,490
...,...,...,...,...,...,...,...,...,...,...
4167,202005,서울특별시 종로구 통일로 246-20,무악현대,116,79,77,80,86,519,966
4168,202005,서울특별시 종로구 통일로18길 34,인왕산2차아이파크아파트,25,13,31,12,86,0,167
4169,202005,서울특별시 종로구 통일로18길 9,인왕산아이파크,95,93,90,64,58,405,810
4170,202005,서울특별시 종로구 평창문화로 140,평창롯데,10,10,17,1,3,99,156
4171,202005,서울특별시 종로구 평창문화로 172,평창삼성,13,24,15,12,9,97,176

# ===================================================== 다른 df도 똑같이 확인해보고 처리해줘야 할 듯

In [24]:
temp_t2 = temp_t1.groupby(['기준년월','아파트주소'])[temp_t1.columns[6:8]].sum()
temp_t2

                             전출세대수  전입세대수
기준년월   아파트주소
201904 강원도 강릉시 가작로 78           15     15
       강원도 강릉시 강변로 114          15      8
       강원도 강릉시 강변로 270           7      5
       강원도 강릉시 강변로 328-8        14      8
       강원도 강릉시 강변로 364          13     12
...                            ...    ...
202005 서울특별시 종로구 통일로 246-20      4     15
       서울특별시 종로구 통일로18길 34       2      4
       서울특별시 종로구 통일로18길 9        3     13
       서울특별시 종로구 평창문화로 140       2      0
       서울특별시 종로구 평창문화로 172       2      2

[3971 rows x 2 columns]

In [25]:
temp_t3 = temp_t1.groupby(['기준년월','아파트주소','아파트명'])[temp_t1.columns[6:8]].sum()
temp_t3

                                          전출세대수  전입세대수
기준년월   아파트주소                아파트명
201904 강원도 강릉시 가작로 78       교동1주공아파트         15     15
       강원도 강릉시 강변로 114      내곡한라              9      4
                            한라                6      4
       강원도 강릉시 강변로 270      신화아파트             7      5
       강원도 강릉시 강변로 328-8    양우내안애아파트         14      8
...                                         ...    ...
202005 서울특별시 종로구 통일로 246-20 무악현대              4     15
       서울특별시 종로구 통일로18길 34  인왕산2차아이파크아파트      2      4
       서울특별시 종로구 통일로18길 9   인왕산아이파크           3     13
       서울특별시 종로구 평창문화로 140  평창롯데              2      0
       서울특별시 종로구 평창문화로 172  평창삼성              2      2

[4125 rows x 2 columns]

In [26]:
temp_t4 = temp_t2.reset_index()
temp_t4

        기준년월                 아파트주소  전출세대수  전입세대수
0     201904        강원도 강릉시 가작로 78     15     15
1     201904       강원도 강릉시 강변로 114     15      8
2     201904       강원도 강릉시 강변로 270      7      5
3     201904     강원도 강릉시 강변로 328-8     14      8
4     201904       강원도 강릉시 강변로 364     13     12
...      ...                   ...    ...    ...
3966  202005  서울특별시 종로구 통일로 246-20      4     15
3967  202005   서울특별시 종로구 통일로18길 34      2      4
3968  202005    서울특별시 종로구 통일로18길 9      3     13
3969  202005   서울특별시 종로구 평창문화로 140      2      0
3970  202005   서울특별시 종로구 평창문화로 172      2      2

[3971 rows x 4 columns]

# ============================================== 이런, 이건 같은 아파트면서 이름은 다른데 데이터도 다르다

In [27]:
ex1 = pd.merge(temp_l5, temp_t4, on=['기준년월','아파트주소'])
ex1

,기준년월,아파트주소,아파트명,1년미만거주기간세대수,1년거주기간세대수,2년거주기간세대수,3년거주기간세대수,4년거주기간세대수,5년이상거주기간세대수,합계세대수,전출세대수,전입세대수
0,201904,강원도 강릉시 가작로 78,교동1주공아파트,105,45,69,39,48,644,1019,15,15
1,201904,강원도 강릉시 강변로 114,내곡한라,56,42,50,30,37,469,724,15,8
2,201904,강원도 강릉시 강변로 270,신화아파트,24,19,19,10,14,380,494,7,5
3,201904,강원도 강릉시 강변로 328-8,양우내안애아파트,61,57,41,43,24,202,456,14,8
4,201904,강원도 강릉시 강변로 364,입암1주공아파트,60,29,33,26,17,242,490,13,12
...,...,...,...,...,...,...,...,...,...,...,...,...
4003,202005,서울특별시 종로구 통일로 246-20,무악현대,116,79,77,80,86,519,966,4,15
4004,202005,서울특별시 종로구 통일로18길 34,인왕산2차아이파크아파트,25,13,31,12,86,0,167,2,4
4005,202005,서울특별시 종로구 통일로18길 9,인왕산아이파크,95,93,90,64,58,405,810,3,13
4006,202005,서울특별시 종로구 평창문화로 140,평창롯데,10,10,17,1,3,99,156,2,0
4007,202005,서울특별시 종로구 평창문화로 172,평창삼성,13,24,15,12,9,97,176,2,2

In [28]:
ex1.duplicated().sum()

0

# ================================================== 이제 부대시설정보 추가

In [29]:
temp_a1

,기준년월,매매지역명,우편번호,아파트명,아파트주소,아파트준공일자,승강기수,CCTV수,주차대수,부대시설명,난방명,세대당주차대수,적재일시,센터코드
0,202004,서울특별시,3112,종로청계힐스테이트,서울특별시 종로구 숭인동길 21,20090320,10,93,342,"관리사무소, 노인정, 주민공동시설, 어린이놀이터, 휴게시설, 자전거보관소",개별난방,1.19,2.020040e+13,BBP17
1,202005,대구광역시,42281,시지3차태왕하이츠,대구광역시 수성구 욱수천로 77,20011211,7,43,242,"관리사무소, 노인정, 어린이놀이터, 자전거보관소",개별난방,1.03,2.020050e+13,BBP17
2,202005,대구광역시,41463,칠곡2차동서타운,대구광역시 북구 구암로32길 22,19961125,7,47,341,"관리사무소, 노인정, 보육시설, 어린이놀이터, 휴게시설, 자전거보관소",개별난방,1.02,2.020050e+13,BBP17
3,202005,대구광역시,41464,칠곡청구타운,대구광역시 북구 학정로 271,19951125,14,64,468,"관리사무소, 노인정, 어린이놀이터, 휴게시설",개별난방,1.00,2.020050e+13,BBP17
4,202005,대구광역시,41159,영남네오빌,대구광역시 동구 동촌로 190,20000629,0,170,1268,"관리사무소, 노인정, 보육시설, 주민공동시설, 어린이놀이터, 자전거보관소, 기타",개별난방,1.36,2.020050e+13,BBP17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5461,202005,강원도,25819,이도주공1단지,강원도 동해시 이원길 180-2,19991016,5,34,315,"관리사무소, 노인정, 보육시설, 어린이놀이터, 자전거보관소",개별난방,0.71,2.020050e+13,BBP17
5462,202005,대구광역시,42279,사월화성파크드림1단지,대구광역시 수성구 달구벌대로 3304,20060323,6,91,283,"관리사무소, 노인정, 보육시설, 주민공동시설, 어린이놀이터, 자전거보관소",개별난방,1.51,2.020050e+13,BBP17
5463,202005,대구광역시,42198,범물영남타운,대구광역시 수성구 용학로 316,19920820,15,105,508,"관리사무소, 노인정, 주민공동시설, 어린이놀이터",중앙난방,1.15,2.020050e+13,BBP17
5464,202005,대구광역시,41910,노마즈하우스,대구광역시 중구 공평로 105,20140121,0,68,218,관리사무소,개별난방,0.81,2.020050e+13,BBP17
5465,202005,대구광역시,41022,협성휴포레이시아폴리스,대구광역시 동구 팔공로 260,20180326,21,233,813,"관리사무소, 노인정, 보육시설, 문고, 주민공동시설, 어린이놀이터, 휴게시설, 커뮤...",개별난방,1.36,2.020050e+13,BBP17

In [30]:
temp_a1.duplicated().sum()

82

In [31]:
temp_a1 = temp_a1.drop_duplicates()

In [32]:
temp_a2 = temp_a1.groupby(['기준년월','아파트주소','아파트명'])[temp_a1.columns[5:12]].sum()
temp_a2

                                             아파트준공일자  승강기수  CCTV수  주차대수  \
기준년월   아파트주소                  아파트명
201904 강원도 강릉시 가작로 78         교동1주공아파트      19991201    33    170  1060
       강원도 강릉시 강릉대로469번길 14-1 대인4차아파트       19950630     4     18   121
       강원도 강릉시 강변로 114        내곡한라          19971110    22    126   548
                              한라            19971110    22    126   548
       강원도 강릉시 강변로 270        신화아파트         19980318    18     48   391
...                                              ...   ...    ...   ...
202005 서울특별시 종로구 통일로 246-20   무악현대          20001021    25    120  1162
       서울특별시 종로구 통일로18길 34    인왕산2차아이파크아파트  20150828     7     70   212
       서울특별시 종로구 통일로18길 9     인왕산아이파크       20080725    29    248  1044
       서울특별시 종로구 평창문화로 140    평창롯데          20010430     6     52   256
       서울특별시 종로구 평창문화로 172    평창삼성          19980502     4     32   170

                                            세대당주차대수
기준년월   아파트주소                  아파트명
201904 강원도 강릉시 가작로 78         교동1주공아파트         1.04
       강원도 강릉시 강릉대로469번길 14-1 대인4차아파트          0.70
       강원도 강릉시 강변로 114        내곡한라             0.76
                              한라               0.76
       강원도 강릉시 강변로 270        신화아파트            0.79
...                                             ...
202005 서울특별시 종로구 통일로 246-20   무악현대             1.21
       서울특별시 종로구 통일로18길 34    인왕산2차아이파크아파트     1.27
       서울특별시 종로구 통일로18길 9     인왕산아이파크          1.29
       서울특별시 종로구 평창문화로 140    평창롯데             1.64
       서울특별시 종로구 평창문화로 172    평창삼성             0.97

[5384 rows x 5 columns]

In [33]:
# temp_a5 = temp_a1.groupby(['기준년월','아파트주소','아파트명'])[temp_a1.columns[5:12]].mean()
# temp_a5

In [34]:
# for i in range(len(temp_a2)):
#     if (temp_a2.iloc[i] != temp_a5.iloc[i]).sum() != 0:
#         print(temp_a2.iloc[i],'\n', temp_a5.iloc[i])

In [35]:
# for i in range(len(temp_a2)):
#     if temp_a2.index[i] != temp_a5.index[i]:
#         print(temp_a2.index[i], temp_a5.index[i])
# print('no exist')

In [36]:
# temp_a5.iloc[3] != temp_a2.iloc[3]

In [37]:
# (temp_a5.iloc[3] != temp_a2.iloc[3]).sum()

# ============================================================================= 애초에 drop_duplicates를 하자...

In [38]:
temp_a2.duplicated().sum()

4073

In [39]:
# for i in range(len(temp_a2)):
#     if temp_a2.duplicated()[i] == True:
#         print(temp_a2.index[i])
# print(temp_a2.duplicated().sum())

In [40]:
temp_a3 = temp_a2.drop_duplicates()
temp_a3

                                                 아파트준공일자  승강기수  CCTV수  주차대수  \
기준년월   아파트주소                  아파트명
201904 강원도 강릉시 가작로 78         교동1주공아파트          19991201    33    170  1060
       강원도 강릉시 강릉대로469번길 14-1 대인4차아파트           19950630     4     18   121
       강원도 강릉시 강변로 114        내곡한라              19971110    22    126   548
       강원도 강릉시 강변로 270        신화아파트             19980318    18     48   391
       강원도 강릉시 강변로 328-8      양우내안애아파트          20090901    20     73   461
...                                                  ...   ...    ...   ...
       서울특별시 종로구 통일로18길 9     인왕산아이파크           20080725    29    248  1044
       서울특별시 종로구 평창문화로 140    평창롯데              20010430     6     52   256
       서울특별시 종로구 평창문화로 172    삼성                19980502     4     32   170
202004 강원도 강릉시 월대산로 23        강릉 입암코아루오투리움 아파트  20190717    15    115   453
       강원도 춘천시 공지로218번길 26    코아루웰라움아파트         20190710     6     44   207

                                                세대당주차대수
기준년월   아파트주소                  아파트명
201904 강원도 강릉시 가작로 78         교동1주공아파트             1.04
       강원도 강릉시 강릉대로469번길 14-1 대인4차아파트              0.70
       강원도 강릉시 강변로 114        내곡한라                 0.76
       강원도 강릉시 강변로 270        신화아파트                0.79
       강원도 강릉시 강변로 328-8      양우내안애아파트             1.01
...                                                 ...
       서울특별시 종로구 통일로18길 9     인왕산아이파크              1.29
       서울특별시 종로구 평창문화로 140    평창롯데                 1.64
       서울특별시 종로구 평창문화로 172    삼성                   0.97
202004 강원도 강릉시 월대산로 23        강릉 입암코아루오투리움 아파트     1.06
       강원도 춘천시 공지로218번길 26    코아루웰라움아파트            1.34

[1311 rows x 5 columns]

In [41]:
temp_a4 = temp_a3.reset_index()
temp_a4

,기준년월,아파트주소,아파트명,아파트준공일자,승강기수,CCTV수,주차대수,세대당주차대수
0,201904,강원도 강릉시 가작로 78,교동1주공아파트,19991201,33,170,1060,1.04
1,201904,강원도 강릉시 강릉대로469번길 14-1,대인4차아파트,19950630,4,18,121,0.70
2,201904,강원도 강릉시 강변로 114,내곡한라,19971110,22,126,548,0.76
3,201904,강원도 강릉시 강변로 270,신화아파트,19980318,18,48,391,0.79
4,201904,강원도 강릉시 강변로 328-8,양우내안애아파트,20090901,20,73,461,1.01
...,...,...,...,...,...,...,...,...
1306,201904,서울특별시 종로구 통일로18길 9,인왕산아이파크,20080725,29,248,1044,1.29
1307,201904,서울특별시 종로구 평창문화로 140,평창롯데,20010430,6,52,256,1.64
1308,201904,서울특별시 종로구 평창문화로 172,삼성,19980502,4,32,170,0.97
1309,202004,강원도 강릉시 월대산로 23,강릉 입암코아루오투리움 아파트,20190717,15,115,453,1.06
1310,202004,강원도 춘천시 공지로218번길 26,코아루웰라움아파트,20190710,6,44,207,1.34

In [42]:
ex2 = pd.merge(ex1, temp_a4, on=['기준년월','아파트주소'])
ex2

,기준년월,아파트주소,아파트명_x,1년미만거주기간세대수,1년거주기간세대수,2년거주기간세대수,3년거주기간세대수,4년거주기간세대수,5년이상거주기간세대수,합계세대수,전출세대수,전입세대수,아파트명_y,아파트준공일자,승강기수,CCTV수,주차대수,세대당주차대수
0,201904,강원도 강릉시 가작로 78,교동1주공아파트,105,45,69,39,48,644,1019,15,15,교동1주공아파트,19991201,33,170,1060,1.04
1,201904,강원도 강릉시 강변로 114,내곡한라,56,42,50,30,37,469,724,15,8,내곡한라,19971110,22,126,548,0.76
2,201904,강원도 강릉시 강변로 270,신화아파트,24,19,19,10,14,380,494,7,5,신화아파트,19980318,18,48,391,0.79
3,201904,강원도 강릉시 강변로 328-8,양우내안애아파트,61,57,41,43,24,202,456,14,8,양우내안애아파트,20090901,20,73,461,1.01
4,201904,강원도 강릉시 강변로 364,입암1주공아파트,60,29,33,26,17,242,490,13,12,입암1주공아파트,19861031,0,12,305,0.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,201904,서울특별시 종로구 평창문화로 140,평창롯데,10,17,1,4,3,102,157,1,0,평창롯데,20010430,6,52,256,1.64
1065,201904,서울특별시 종로구 평창문화로 172,삼성,22,20,12,10,8,94,176,10,9,삼성,19980502,4,32,170,0.97
1066,201904,서울특별시 종로구 평창문화로 172,평창삼성,23,20,12,10,8,94,177,10,9,삼성,19980502,4,32,170,0.97
1067,202004,강원도 강릉시 월대산로 23,강릉 입암코아루오투리움 아파트,422,0,0,0,0,9,431,2,1,강릉 입암코아루오투리움 아파트,20190717,15,115,453,1.06
1068,202004,강원도 춘천시 공지로218번길 26,코아루웰라움아파트,153,0,0,0,0,8,161,0,7,코아루웰라움아파트,20190710,6,44,207,1.34

In [43]:
ex3 = pd.merge(ex1, temp_a4, on=['기준년월','아파트주소'], how='left')
ex3

,기준년월,아파트주소,아파트명_x,1년미만거주기간세대수,1년거주기간세대수,2년거주기간세대수,3년거주기간세대수,4년거주기간세대수,5년이상거주기간세대수,합계세대수,전출세대수,전입세대수,아파트명_y,아파트준공일자,승강기수,CCTV수,주차대수,세대당주차대수
0,201904,강원도 강릉시 가작로 78,교동1주공아파트,105,45,69,39,48,644,1019,15,15,교동1주공아파트,19991201.0,33.0,170.0,1060.0,1.04
1,201904,강원도 강릉시 강변로 114,내곡한라,56,42,50,30,37,469,724,15,8,내곡한라,19971110.0,22.0,126.0,548.0,0.76
2,201904,강원도 강릉시 강변로 270,신화아파트,24,19,19,10,14,380,494,7,5,신화아파트,19980318.0,18.0,48.0,391.0,0.79
3,201904,강원도 강릉시 강변로 328-8,양우내안애아파트,61,57,41,43,24,202,456,14,8,양우내안애아파트,20090901.0,20.0,73.0,461.0,1.01
4,201904,강원도 강릉시 강변로 364,입암1주공아파트,60,29,33,26,17,242,490,13,12,입암1주공아파트,19861031.0,0.0,12.0,305.0,0.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4007,202005,서울특별시 종로구 통일로 246-20,무악현대,116,79,77,80,86,519,966,4,15,NaN,NaN,NaN,NaN,NaN,NaN
4008,202005,서울특별시 종로구 통일로18길 34,인왕산2차아이파크아파트,25,13,31,12,86,0,167,2,4,NaN,NaN,NaN,NaN,NaN,NaN
4009,202005,서울특별시 종로구 통일로18길 9,인왕산아이파크,95,93,90,64,58,405,810,3,13,NaN,NaN,NaN,NaN,NaN,NaN
4010,202005,서울특별시 종로구 평창문화로 140,평창롯데,10,10,17,1,3,99,156,2,0,NaN,NaN,NaN,NaN,NaN,NaN
4011,202005,서울특별시 종로구 평창문화로 172,평창삼성,13,24,15,12,9,97,176,2,2,NaN,NaN,NaN,NaN,NaN,NaN