In [1]:
# https://wikidocs.net/13969 << gc관련. 메모리 관리 관련
# https://velog.io/@ednadev/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D%EA%B3%BC-re%EB%AA%A8%EB%93%88 << re관련. 정규표현식 관련

# https://dacon.io/competitions/official/235687/codeshare/2108?page=1&dtype=recent&ptype=pub

import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from tqdm import tqdm
import gc
import random
import lightgbm as lgb
import re
from sklearn.metrics import *
from sklearn.model_selection import KFold
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import os

PATH = 'd:/Programming/2021.01.데이콘_LGai/data/'

for dirname, _, filenames in os.walk(PATH):
    for filename in filenames:
        print(os.path.join(dirname, filename))

d:/Programming/2021.01.데이콘_LGai/data/sample_submission.csv
d:/Programming/2021.01.데이콘_LGai/data/test_err_data.csv
d:/Programming/2021.01.데이콘_LGai/data/test_quality_data.csv
d:/Programming/2021.01.데이콘_LGai/data/train_err_data.csv
d:/Programming/2021.01.데이콘_LGai/data/train_problem_data.csv
d:/Programming/2021.01.데이콘_LGai/data/train_quality_data.csv

In [3]:
train_err  = pd.read_csv(PATH+'train_err_data.csv', thousands=',')
train_quality  = pd.read_csv(PATH+'train_quality_data.csv', thousands=',')
train_problem  = pd.read_csv(PATH+'train_problem_data.csv', thousands=',')

test_err  = pd.read_csv(PATH+'test_err_data.csv', thousands=',')
test_quality  = pd.read_csv(PATH+'test_quality_data.csv', thousands=',')

# --------- err + quality 합쳐서 돌려보자

In [4]:
# user_id와 errtype만을 사용하여 데이터 셋 생성
# 모든 일자에 대해서 errtype별 발생 건수를 count
# pandas의 groupby를 활용할 경우 큰 연산 자원이 필요.
# numpy로 placeholder를 만들어 구현함.

id_error = train_err[['user_id','errtype']].values
error = np.zeros((15000,42))

for person_idx, err in tqdm(id_error):
    # person_idx - 10000 위치에 person_idx, errtype에 해당하는 error값을 +1
    error[person_idx - 10000,err - 1] += 1
error.shape

100%|██████████████████████████████████████████████████████████████████| 16554663/16554663 [00:44<00:00, 375779.78it/s]

(15000, 42)

In [5]:
print(train_err.user_id.max())
print(test_err.user_id.max())
print(train_err.user_id.min())
print(test_err.user_id.min())

print(train_quality.user_id.max())
print(test_quality.user_id.max())
print(train_quality.user_id.min())
print(test_quality.user_id.min())

24999
44998
10000
30000
24997
44997
10000
30000

In [6]:
error_df = pd.DataFrame(error)
error_df

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0.0,0.0,8.0,104.0,0.0,1.0,1.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,53.0,1.0,1.0,0.0,0.0,0.0,...,10.0,18.0,0.0,1.0,1.0,0.0,0.0,113.0,56.0,1.0
2,0.0,0.0,2.0,132.0,1.0,2.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,...,8.0,0.0,0.0,1.0,1.0,2.0,0.0,17.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,3.0,4.0,0.0,0.0,0.0,...,16.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,0.0,0.0,0.0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,7.0,4.0
14996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,0.0,0.0,0.0,1.0,8.0,1.0,1.0,0.0,0.0,0.0,...,16.0,17.0,0.0,1.0,1.0,0.0,0.0,58.0,8.0,5.0
14998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15.0,12.0,0.0,1.0,1.0,0.0,0.0,6.0,0.0,0.0
14999,0.0,0.0,4.0,192.0,7.0,5.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
quality_ex = train_quality.drop_duplicates()
quality_ex = quality_ex.fillna(0)
quality_ex = quality_ex.reset_index(drop=True)
quality_ex = pd.concat([quality_ex['user_id'], quality_ex[quality_ex.columns[3::]]], axis=1)
quality_ex = quality_ex.groupby('user_id')[quality_ex.columns[1::]].sum()
quality_ex = quality_ex.reset_index()
quality_ex

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,0.0,0,0.0,0,0,12.0,0,0,0,0,24,0,0
1,10002,1.0,-1,0.0,0,0,30.0,45,96,0,2,95,-1,0
2,10004,-1.0,-1,-1.0,0,0,3.0,86,174,0,0,14,-1,0
3,10005,-1.0,-1,-1.0,0,0,7.0,35,108,0,0,30,-1,0
4,10006,0.0,0,0.0,0,0,12.0,4,8,0,0,24,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8276,24990,0.0,-1,-1.0,0,0,1.0,-1,0,0,0,5,-1,0
8277,24992,-2.0,-2,-2.0,0,0,17.0,-2,0,0,0,57,-2,0
8278,24993,-2.0,-2,-2.0,0,0,6.0,-2,0,0,0,24,-2,0
8279,24995,-2.0,-2,-2.0,0,0,3.0,-2,0,0,0,15,-2,0
8280,24997,-1.0,-1,-1.0,0,0,16.0,-1,0,0,0,91,-1,0

In [8]:
ex_df = []
ex_df.append([i for i in range(10000,25000)])

for i in range(13):
    ex_df.append([0 for j in range(15000)])
    
ex_df = pd.DataFrame(ex_df)
ex_df = ex_df.T
ex_df.columns = quality_ex.columns
ex_df = ex_df.set_index(keys='user_id')
ex_df

,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
user_id,,,,,,,,,,,,,
10000,0,0,0,0,0,0,0,0,0,0,0,0,0
10001,0,0,0,0,0,0,0,0,0,0,0,0,0
10002,0,0,0,0,0,0,0,0,0,0,0,0,0
10003,0,0,0,0,0,0,0,0,0,0,0,0,0
10004,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0,0,0,0,0,0,0,0,0,0,0,0,0
24996,0,0,0,0,0,0,0,0,0,0,0,0,0
24997,0,0,0,0,0,0,0,0,0,0,0,0,0
24998,0,0,0,0,0,0,0,0,0,0,0,0,0
24999,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
quality_ex = quality_ex.set_index(keys='user_id')

quality_df = quality_ex + ex_df
quality_df.fillna(0, inplace=True)
quality_df = quality_df.reset_index()
quality_df

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0
1,10001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10002,1.0,-1.0,0.0,0.0,0.0,30.0,45.0,96.0,0.0,2.0,95.0,-1.0,0.0
3,10003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10004,-1.0,-1.0,-1.0,0.0,0.0,3.0,86.0,174.0,0.0,0.0,14.0,-1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,24995,-2.0,-2.0,-2.0,0.0,0.0,3.0,-2.0,0.0,0.0,0.0,15.0,-2.0,0.0
14996,24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,24997,-1.0,-1.0,-1.0,0.0,0.0,16.0,-1.0,0.0,0.0,0.0,91.0,-1.0,0.0
14998,24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14999,24999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
quality_df.drop(columns=['quality_3','quality_4'], inplace=True)
quality_df

,user_id,quality_0,quality_1,quality_2,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0
1,10001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10002,1.0,-1.0,0.0,30.0,45.0,96.0,0.0,2.0,95.0,-1.0,0.0
3,10003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10004,-1.0,-1.0,-1.0,3.0,86.0,174.0,0.0,0.0,14.0,-1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,24995,-2.0,-2.0,-2.0,3.0,-2.0,0.0,0.0,0.0,15.0,-2.0,0.0
14996,24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,24997,-1.0,-1.0,-1.0,16.0,-1.0,0.0,0.0,0.0,91.0,-1.0,0.0
14998,24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14999,24999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
train_X = pd.concat([quality_df, error_df], axis=1)
train_X

,user_id,quality_0,quality_1,quality_2,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,...,32,33,34,35,36,37,38,39,40,41
0,10000,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,18.0,0.0,1.0,1.0,0.0,0.0,113.0,56.0,1.0
2,10002,1.0,-1.0,0.0,30.0,45.0,96.0,0.0,2.0,95.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,1.0,1.0,2.0,0.0,17.0,1.0,0.0
4,10004,-1.0,-1.0,-1.0,3.0,86.0,174.0,0.0,0.0,14.0,...,16.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,24995,-2.0,-2.0,-2.0,3.0,-2.0,0.0,0.0,0.0,15.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,7.0,4.0
14996,24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,24997,-1.0,-1.0,-1.0,16.0,-1.0,0.0,0.0,0.0,91.0,...,16.0,17.0,0.0,1.0,1.0,0.0,0.0,58.0,8.0,5.0
14998,24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15.0,12.0,0.0,1.0,1.0,0.0,0.0,6.0,0.0,0.0
14999,24999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
problem = np.zeros(15000)
# error와 동일한 방법으로 person_idx - 10000 위치에 
# person_idx의 problem이 한 번이라도 발생했다면 1
# 없다면 0
problem[train_problem.user_id.unique()-10000] = 1 
problem.shape

(15000,)

In [17]:
problem_y = pd.DataFrame(problem, columns=['y'])
problem_y = problem_y.reset_index()
problem_y.rename(columns={'index':'user_id'}, inplace=True)
problem_y.user_id = list(map(lambda x:x+10000,problem_y.user_id))
problem_y

       user_id    y
0        10000  0.0
1        10001  1.0
2        10002  0.0
3        10003  0.0
4        10004  1.0
...        ...  ...
14995    24995  0.0
14996    24996  0.0
14997    24997  1.0
14998    24998  1.0
14999    24999  0.0

[15000 rows x 2 columns]

In [19]:
train_df = pd.merge(train_X,problem_y,how='inner',on='user_id')
train_df

,user_id,quality_0,quality_1,quality_2,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,...,33,34,35,36,37,38,39,40,41,y
0,10000,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,0.0,1.0,1.0,0.0,0.0,113.0,56.0,1.0,1.0
2,10002,1.0,-1.0,0.0,30.0,45.0,96.0,0.0,2.0,95.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2.0,0.0,17.0,1.0,0.0,0.0
4,10004,-1.0,-1.0,-1.0,3.0,86.0,174.0,0.0,0.0,14.0,...,0.0,0.0,1.0,1.0,0.0,0.0,4.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,24995,-2.0,-2.0,-2.0,3.0,-2.0,0.0,0.0,0.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,7.0,4.0,0.0
14996,24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,24997,-1.0,-1.0,-1.0,16.0,-1.0,0.0,0.0,0.0,91.0,...,17.0,0.0,1.0,1.0,0.0,0.0,58.0,8.0,5.0,1.0
14998,24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,0.0,1.0,1.0,0.0,0.0,6.0,0.0,0.0,1.0
14999,24999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
X_train = train_df[train_df.columns[1:-1]].values
y_train = train_df[train_df.columns[-1]]

In [21]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier().fit(X_train,y_train)

In [22]:
rf.score(X_train,y_train)

0.9999333333333333

In [23]:
# Train
#-------------------------------------------------------------------------------------
# validation auc score를 확인하기 위해 정의
def f_pr_auc(probas_pred, y_true):
    labels=y_true.get_label()
    p, r, _ = precision_recall_curve(labels, probas_pred)
    score=auc(r,p) 
    return "pr_auc", score, True
#-------------------------------------------------------------------------------------
models     = []
recalls    = []
precisions = []
auc_scores = []
threshold = 0.5
# 파라미터 설정
params = {
            'boosting_type' : 'gbdt',
            'objective'     : 'binary',
            'metric'        : 'auc',
            'seed': 1015
            }

In [24]:
#-------------------------------------------------------------------------------------
# 5 Kfold cross validation
k_fold = KFold(n_splits=5, shuffle=True, random_state=42)
for train_idx, val_idx in k_fold.split(X_train):

    # split train, validation set
    X = X_train[train_idx]
    y = y_train[train_idx]
    valid_x = X_train[val_idx]
    valid_y = y_train[val_idx]

    d_train= lgb.Dataset(X, y)
    d_val  = lgb.Dataset(valid_x, valid_y)
    
    #run traning
    model = lgb.train(
                        params,
                        train_set       = d_train,
                        num_boost_round = 1000,
                        valid_sets      = d_val,
                        feval           = f_pr_auc,
                        verbose_eval    = 20, 
                        early_stopping_rounds = 3
                       )
    
    # cal valid prediction
    valid_prob = model.predict(valid_x)
    valid_pred = np.where(valid_prob > threshold, 1, 0)
    
    # cal scores
    recall    = recall_score(    valid_y, valid_pred)
    precision = precision_score( valid_y, valid_pred)
    auc_score = roc_auc_score(   valid_y, valid_prob)

    # append scores
    models.append(model)
    recalls.append(recall)
    precisions.append(precision)
    auc_scores.append(auc_score)

    print('==========================================================')

[LightGBM] [Info] Number of positive: 3633, number of negative: 8367
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004487 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5878
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 52
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.302750 -> initscore=-0.834237
[LightGBM] [Info] Start training from score -0.834237
Training until validation scores don't improve for 3 rounds
[20]	valid_0's auc: 0.803706	valid_0's pr_auc: 0.797814
Early stopping, best iteration is:
[26]	valid_0's auc: 0.807888	valid_0's pr_auc: 0.803672
==========================================================
[LightGBM] [Info] Number of positive: 4828, number of negative: 7172
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004536 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 6057
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 52
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.402333 -> initscore=-0.395752
[LightGBM] [Info] Start training from score -0.395752
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[2]	valid_0's auc: 0.780254	valid_0's pr_auc: 0.326945
==========================================================
[LightGBM] [Info] Number of positive: 4718, number of negative: 7282
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004578 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 6168
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 52
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.393167 -> initscore=-0.434021
[LightGBM] [Info] Start training from score -0.434021
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[13]	valid_0's auc: 0.774427	valid_0's pr_auc: 0.409286
==========================================================
[LightGBM] [Info] Number of positive: 4544, number of negative: 7456
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004769 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 6061
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 52
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.378667 -> initscore=-0.495211
[LightGBM] [Info] Start training from score -0.495211
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[4]	valid_0's auc: 0.795154	valid_0's pr_auc: 0.545491
==========================================================
[LightGBM] [Info] Number of positive: 2277, number of negative: 9723
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.003182 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5760
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 52
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.189750 -> initscore=-1.451635
[LightGBM] [Info] Start training from score -1.451635
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[2]	valid_0's auc: 0.792142	valid_0's pr_auc: 0.973112
==========================================================

In [25]:
print(np.mean(auc_scores))

0.7899729269060803

# 예측

###

In [34]:
id_error = test_err[['user_id','errtype']].values
error2 = np.zeros((14999,42))
for person_idx, err in tqdm(id_error):
    # person_idx - 30000 위치에 person_idx, errtype에 해당하는 error값을 +1
    error2[person_idx - 30000,err - 1] += 1
error2 = error2.reshape(error2.shape[0],-1)
print(error2.shape)

100%|██████████████████████████████████████████████████████████████████| 16532648/16532648 [00:44<00:00, 371217.20it/s]

(14999, 42)

In [35]:
error2_df = pd.DataFrame(error2)
error2_df

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0.0,0.0,0.0,0.0,62.0,1.0,1.0,0.0,0.0,0.0,...,16.0,0.0,1.0,3.0,3.0,0.0,2.0,92.0,0.0,2.0
1,0.0,0.0,3.0,98.0,3.0,4.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,79.0,2.0,1.0,0.0,0.0,0.0,...,16.0,0.0,0.0,1.0,1.0,0.0,14.0,113.0,1.0,2.0
3,0.0,0.0,0.0,0.0,107.0,2.0,2.0,0.0,0.0,0.0,...,4.0,16.0,3.0,1.0,1.0,0.0,0.0,40.0,8.0,0.0
4,0.0,0.0,0.0,2.0,6.0,1.0,1.0,0.0,0.0,0.0,...,11.0,6.0,1.0,1.0,1.0,1.0,0.0,48.0,90.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.0,0.0,0.0,2.0,12.0,5.0,5.0,0.0,0.0,0.0,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,87.0,0.0
14995,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,...,14.0,1.0,0.0,1.0,1.0,0.0,0.0,12.0,17.0,0.0
14996,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,12.0,1118.0,0.0,1.0,1.0,1.0,0.0,329.0,2.0,3.0
14997,0.0,0.0,0.0,1.0,4.0,2.0,2.0,0.0,0.0,0.0,...,14.0,0.0,0.0,1.0,1.0,3.0,0.0,30.0,49.0,0.0
14998,0.0,0.0,0.0,2.0,14.0,1.0,0.0,0.0,0.0,0.0,...,12.0,7.0,0.0,0.0,0.0,0.0,0.0,269.0,0.0,0.0

In [30]:
quality2_ex = test_quality.drop_duplicates()
quality2_ex = quality2_ex.fillna(0)
quality2_ex = quality2_ex.reset_index(drop=True)
quality2_ex = pd.concat([quality2_ex['user_id'], quality2_ex[quality2_ex.columns[3::]]], axis=1)
quality2_ex = quality2_ex.groupby('user_id')[quality2_ex.columns[1::]].sum()
quality2_ex = quality2_ex.reset_index()
quality2_ex

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,30000,0.0,0.0,0.0,0,0,2.0,5,10,0,0,4,0,0
1,30001,-1.0,-1.0,-1.0,0,0,2561.0,-1,0,0,0,10245,-1,0
2,30002,-3.0,-3.0,-3.0,0,0,130.0,-3,0,0,0,384,-3,0
3,30003,0.0,0.0,0.0,0,0,9.0,220,560,0,0,30,0,0
4,30004,-1.0,-1.0,-1.0,0,0,1.0,32,90,0,0,4,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8263,44990,-2.0,-2.0,-2.0,0,0,44.0,-2,0,0,0,141,-2,0
8264,44993,8.0,-1.0,8.0,0,0,13.0,108,348,0,27,43,-1,0
8265,44994,-1.0,-1.0,-1.0,0,0,1.0,-1,0,0,0,4,-1,0
8266,44996,-2.0,-2.0,-2.0,0,0,31.0,-2,0,0,0,109,-2,0
8267,44997,0.0,0.0,0.0,0,0,7.0,0,0,0,0,39,0,0

In [36]:
ex2_df = []
ex2_df.append([i for i in range(30000,44999)])

for i in range(13):
    ex2_df.append([0 for j in range(14999)])
    
ex2_df = pd.DataFrame(ex2_df)
ex2_df = ex2_df.T
ex2_df.columns = quality2_ex.columns
ex2_df = ex2_df.set_index(keys='user_id')
ex2_df

,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
user_id,,,,,,,,,,,,,
30000,0,0,0,0,0,0,0,0,0,0,0,0,0
30001,0,0,0,0,0,0,0,0,0,0,0,0,0
30002,0,0,0,0,0,0,0,0,0,0,0,0,0
30003,0,0,0,0,0,0,0,0,0,0,0,0,0
30004,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44994,0,0,0,0,0,0,0,0,0,0,0,0,0
44995,0,0,0,0,0,0,0,0,0,0,0,0,0
44996,0,0,0,0,0,0,0,0,0,0,0,0,0
44997,0,0,0,0,0,0,0,0,0,0,0,0,0
44998,0,0,0,0,0,0,0,0,0,0,0,0,0

In [37]:
quality2_ex = quality2_ex.set_index(keys='user_id')

quality2_df = quality2_ex + ex2_df
quality2_df.fillna(0, inplace=True)
quality2_df = quality2_df.reset_index()
quality2_df

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,30000,0.0,0.0,0.0,0.0,0.0,2.0,5.0,10.0,0.0,0.0,4.0,0.0,0.0
1,30001,-1.0,-1.0,-1.0,0.0,0.0,2561.0,-1.0,0.0,0.0,0.0,10245.0,-1.0,0.0
2,30002,-3.0,-3.0,-3.0,0.0,0.0,130.0,-3.0,0.0,0.0,0.0,384.0,-3.0,0.0
3,30003,0.0,0.0,0.0,0.0,0.0,9.0,220.0,560.0,0.0,0.0,30.0,0.0,0.0
4,30004,-1.0,-1.0,-1.0,0.0,0.0,1.0,32.0,90.0,0.0,0.0,4.0,-1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,44994,-1.0,-1.0,-1.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,4.0,-1.0,0.0
14995,44995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14996,44996,-2.0,-2.0,-2.0,0.0,0.0,31.0,-2.0,0.0,0.0,0.0,109.0,-2.0,0.0
14997,44997,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,39.0,0.0,0.0
14998,44998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
quality2_df.drop(columns=['quality_3','quality_4'], inplace=True)
quality2_df

,user_id,quality_0,quality_1,quality_2,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,30000,0.0,0.0,0.0,2.0,5.0,10.0,0.0,0.0,4.0,0.0,0.0
1,30001,-1.0,-1.0,-1.0,2561.0,-1.0,0.0,0.0,0.0,10245.0,-1.0,0.0
2,30002,-3.0,-3.0,-3.0,130.0,-3.0,0.0,0.0,0.0,384.0,-3.0,0.0
3,30003,0.0,0.0,0.0,9.0,220.0,560.0,0.0,0.0,30.0,0.0,0.0
4,30004,-1.0,-1.0,-1.0,1.0,32.0,90.0,0.0,0.0,4.0,-1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
14994,44994,-1.0,-1.0,-1.0,1.0,-1.0,0.0,0.0,0.0,4.0,-1.0,0.0
14995,44995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14996,44996,-2.0,-2.0,-2.0,31.0,-2.0,0.0,0.0,0.0,109.0,-2.0,0.0
14997,44997,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,39.0,0.0,0.0
14998,44998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
test_X = pd.concat([quality2_df, error2_df], axis=1)
test_X

,user_id,quality_0,quality_1,quality_2,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,...,32,33,34,35,36,37,38,39,40,41
0,30000,0.0,0.0,0.0,2.0,5.0,10.0,0.0,0.0,4.0,...,16.0,0.0,1.0,3.0,3.0,0.0,2.0,92.0,0.0,2.0
1,30001,-1.0,-1.0,-1.0,2561.0,-1.0,0.0,0.0,0.0,10245.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30002,-3.0,-3.0,-3.0,130.0,-3.0,0.0,0.0,0.0,384.0,...,16.0,0.0,0.0,1.0,1.0,0.0,14.0,113.0,1.0,2.0
3,30003,0.0,0.0,0.0,9.0,220.0,560.0,0.0,0.0,30.0,...,4.0,16.0,3.0,1.0,1.0,0.0,0.0,40.0,8.0,0.0
4,30004,-1.0,-1.0,-1.0,1.0,32.0,90.0,0.0,0.0,4.0,...,11.0,6.0,1.0,1.0,1.0,1.0,0.0,48.0,90.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,44994,-1.0,-1.0,-1.0,1.0,-1.0,0.0,0.0,0.0,4.0,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,87.0,0.0
14995,44995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,1.0,0.0,1.0,1.0,0.0,0.0,12.0,17.0,0.0
14996,44996,-2.0,-2.0,-2.0,31.0,-2.0,0.0,0.0,0.0,109.0,...,12.0,1118.0,0.0,1.0,1.0,1.0,0.0,329.0,2.0,3.0
14997,44997,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,39.0,...,14.0,0.0,0.0,1.0,1.0,3.0,0.0,30.0,49.0,0.0
14998,44998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,7.0,0.0,0.0,0.0,0.0,0.0,269.0,0.0,0.0

In [41]:
X_test = test_X[test_X.columns[1:]].values

In [42]:
# 예측
pred_y_list = []
for model in models:
    pred_y = model.predict(X_test)
    pred_y_list.append(pred_y.reshape(-1,1))
    
pred_ensemble = np.mean(pred_y_list, axis = 0)

In [43]:
print(pred_ensemble)
print(len(pred_ensemble))

[[0.54227666]
 [0.2716084 ]
 [0.30307465]
 ...
 [0.36966201]
 [0.58875496]
 [0.33987909]]
14999

In [44]:
ex_3 = pd.read_csv(PATH+'sample_submission.csv')

In [45]:
ex_3['problem'] = pred_ensemble.reshape(-1)

In [46]:
ex_3.to_csv("ex_3.csv", index = False)
ex_3

       user_id   problem
0        30000  0.542277
1        30001  0.271608
2        30002  0.303075
3        30003  0.516379
4        30004  0.455502
...        ...       ...
14994    44994  0.338543
14995    44995  0.339140
14996    44996  0.369662
14997    44997  0.588755
14998    44998  0.339879

[14999 rows x 2 columns]

variable =
\begin{cases}
조건1,  & \text{조건} \\
조건2, & \text{조건}
\end{cases}